.chat-main__body--list--message{ "data-message-id": "#{message.id}"}
  .chat-main__body--list--message--name
    = message.user.name
  .chat-main__body--list--message--time
    = message.created_at.strftime("%Y/%m/%d %H:%M")
  .chat-main__body--list--message--text
    - if message.content.present?
      %p
        = message.content
    = image_tag message.image.url, class: 'message--image' if message.image.present?
